{
  "plugins": ["prettier-plugin-go-template", "prettier-plugin-tailwindcss"],
  "goTemplateBracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 180,
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
