$primary: #146c43;

$headings-color-dark: #ffffff;
$body-color-dark: #eeeeee;
$body-bg-dark: #27272a;

@import "bootstrap";


img {
    max-width: 100%;
}

.required-text {
    display: none;
}

.cursor-pointer {
    cursor: pointer !important;
}