<!doctype html>
<html lang="ru" dir="ltr" data-bs-theme="light" class="scroll-smooth">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="min-vh-100 d-flex flex-column">
    <header>
      <div class="container py-3">
        <h1>{{ .Title }}</h1>
        {{ partial "switcher" . }}
      </div>
    </header>
    <main class="flex-grow-1">
      <div class="container py-3">
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{ end }}
      </div>
    </main>
    <footer>
      <div class="container py-3">
        {{ partial "switcher" . }}
      </div>      
    </footer>
    {{ partial "scripts" . }}
  </body>
</html>
