<!doctype html>
<html lang="ru" dir="ltr" class="dark scroll-smooth">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    <!-- Code that all your templates share, like a footer -->
    <div id="toast" class="hidden fixed top-4 right-4 p-4 max-w-xs bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-lg">
      <div class="flex items-center">
        <div id="toast-icon" class="mr-2"></div>
        <div id="toast-message" class="text-sm text-gray-900 dark:text-white"></div>
      </div>
    </div>
  </div>
    {{ partial "scripts" . }}
  </body>
</html>
