<!doctype html>
<html lang="ru" dir="ltr" data-bs-theme="light" class="scroll-smooth">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="font-sans font-normal dark:bg-gray-800 dark:text-gray-200">
    <!-- Code that all your templates share, like a header -->
    <header class="container py-8">
      <h1>{{ .Title }}</h1>
      {{ partial "switcher" . }}
    </header>
    <main class="container py-8">
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>
    <!-- Code that all your templates share, like a footer -->
    <footer class="container py-8">
      {{ partial "switcher" . }}
    </footer>
    {{ partial "toast" . }}
    {{ partial "scripts" . }}
  </body>
</html>
