{{ define "main" }}
  <div class="prose dark:prose-invert">
    {{ .Content }}
  </div>
  {{ partial "contact-form" (dict "showMessageInput" false "city" .Site.Params.city) }}

  <button class="btn">Базовая</button>
  <button class="btn btn-primary">Основная</button>
  <button class="btn btn-secondary">Вторичная</button>
  <button class="btn btn-ghost">Прозрачная</button>
  <span class="icon-[fluent-emoji--cloud-with-lightning-and-rain] text-8xl"></span>
  <span class="icon-[line-md--phone-call-loop] text-4xl text-green-600"></span>
  <span class="icon-[svg-spinners--clock] text-4xl text-blue-600"></span>
{{ end }}
