{{ if .showMessageInput }}
  <h3>Задать вопрос</h3>
{{ else }}
  <h3>Заказать обратный звонок</h3>
{{ end }}
<form class="contact-form needs-validation w-full space-y-4" data-city="{{ .city }}" novalidate>
  <div>
    <input type="text" aria-hidden="true" tabindex="-1" name="Username" class="required-text sr-only" autocomplete="off" pattern=".{0,0}" />
    <span class="phone-error text-xs text-red-700 dark:text-red-400"></span>
    <input
      type="tel"
      inputmode="numeric"
      name="Phone"
      class="form-input w-full bg-gray-200 p-2 dark:bg-gray-600"
      aria-label="Номер телефона для обратной связи"
      placeholder="Ваш номер телефона"
      autocomplete="tel"
      pattern="^[\+0-9\s\(\)\-]{18,18}"
      required
    />
  </div>
  {{ if .showMessageInput }}
    <div>
      <span class="message-error text-xs text-red-700 dark:text-red-400"></span>
      <textarea
        style="height: 200px"
        name="Message"
        class="form-input w-full bg-gray-200 p-2 dark:bg-gray-600"
        aria-label="Вопрос, который вы хотите задать"
        placeholder="Ваш вопрос..."
        required
      ></textarea>
    </div>
  {{ end }}
  <button type="submit" class="btn btn-primary" aria-label="Отправить форму">Отправить</button>
</form>
